version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: order_engine_pg
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: order_engine
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: order_engine_redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
